<% if @project.errors.any? %>
	<section id="errors">
		<h2> <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved: </h2>
		<ul>
			<% @project.errors.full_messages.each do |message| %>
				<li> <%= message %> </li>
			<% end %>
		</ul>
	</section>
<% end %>

<%= form_for @project do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.submit "create project" %>
<% end %>