<% if user_signed_in? %>

  <%= link_to 'home', root_path %>
  <%= link_to 'projects', projects_path %>
  <%=t 'greet_user', email: current_user.email %>
  <%= link_to 'log out', destroy_user_session_path, method: :delete %>

<% else %>
  
  <%= link_to 'log in with Facebook', user_facebook_omniauth_authorize_path %>
  <%= link_to 'log in', new_user_session_path %>
  <%= link_to 'sign up', new_user_registration_path %>
  
<% end %>

<h1>TestCrowd.</h1>